<h1>Total Clients : <%= @clients.size %></h1>

<% last_client = Client.last %>

<% if last_client.projects.empty? %>
<h3> No Projects found.Add your first project </h3>
<% else %>
<ul>
<b>Total Projects : <%= last_client.projects.size %>
<% last_client.projects.each do |project| %>
<li><%= project.name %></li>
<% end %>
</ul>
<% end %>



<% @clients.each do |client| %>
	<h3><%= client.details %></h3>
	<ul>
	<% client.list_projects.each do |project| %>
	<li><%= project.name %></li>
	<% end %>
	</ul>
	<% end %>
	<hr/>




<ol>
<% @clients.each do |client| %>
<li>name - <%= client.name %>, company - <%= client.copany %>, mobile - <%= client.mobile %></li>
<% end %>
</ol>

<table border="1">
<thread>
<tr>
<th>#</th>
<th>Name</th>
<th>Company</th>
<th>Mobile</th>
<th>Email</th>

</tr>
</thread>
<tbody>
<% @clients.each_with_index do |client,index| %>
<tr>
<td><%= index + 1%></td>
<td><%= client.name.capitalize %></td>
<td><%= client.copany %></td>
<td><%= client.mobile %></td>
<td><%= client.email %></td>
</tr>
<% end %>
</tbody>
</table> 

